.classname {
  background-image: url( #{'"{{ \'awesome-hero-image.jpg\' | asset_url }}"'} );

  p {
    background-color: #{'"{{ setting.background_color }}"'};

    span {
      color: green;
    }
  }
}
        