<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Liquid SCSS to CSS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <main>
    <h1>Liquid SCSS to CSS</h1>
    <p>Turn your style.scss.liquid into style.css.liquid. Why? Shopify has <a
        href="https://www.shopify.com.au/partners/blog/deprecating-sass" target="_blank">deprecated Sass</a> and SCSS
      within their Themes.</p>
    <p>Escape any strings pointing to a URL like this: <code>background-image: url( {{ \'awesome-hero-image.jpg\' | asset_url }} );</code> This is required to minify code.</p>
    <p>Work in Progress. Please do not use if statements or comments in here.</p>
    <div class="compile-container">
      <textarea id="input" placeholder="Liquid SCSS here">
.classname {
  background-image: url( {{ \'awesome-hero-image.jpg\' | asset_url }} );

  p {
    background-color: {{ setting.background_color }};

    span {
      color: green;
    }
  }
}
        </textarea>
      <div class="btn-wrapper">
        <button id="compiler">COMPILE</button>
        <button id="minifier">MINIFY</button>
      </div>
      <textarea id="output"></textarea>
    </div>
    <p>This uses gulp to compile and minify. Read <a
        href="https://ablesense.com/blogs/news/using-gulp-to-compile-sass-liquid-tags" target="_blank">this article</a>
      for more information.</p>
  </main>

  <script src="main.js" async defer></script>
</body>

</html>