* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  background-color: #DDD;
  color: #444;
  /* animation: fun 15s ease infinite; */
}

main {
  padding: 2em;
}

main textarea {
  width: 45vw;
  height: 60vh;
}

h1,p {
  margin-bottom: 1em;
}


.compile-container {
  padding: 1em 0;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

button {
  border: none;
  background-color: #444;
  border: 1px solid #444;
  color: #DDD;
  padding: 1.5em;
  cursor: pointer;
  min-width: 150px;
  transition: all .4s ease;
}

button:hover {
  background-color: rgba(182, 255, 192, 0.4);
  color: #444;
}

textarea {
  padding: 1em;
  background-color: #444;
  color: #DDD;
  font-family: monospace;
}

a {
  color: #444;
}

code {
  background-color: rgba(182, 255, 192, 0.4);
  padding: .1rem .3rem .2rem;
  border: 1px solid #444;
  border-radius: .3em;
}

@keyframes fun {
  0% {
    background-color: lightcoral;
  }
  25% {
    background-color: lightblue;
  }
  50% {
    background-color: #4fa764;
  }
  75% {
    background-color: lightseagreen;
  }
  100% {
    background-color: lightyellow;
  }
}