* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  background-color: lightcoral;
  color: #444;
  /* animation: fun 15s ease infinite; */
}

main {
  padding: 2em;
}

main textarea {
  width: 40vw;
  height: 60vh;
  /* margin: 0 auto;; */
}

h1,p {
  margin-bottom: 1.5em;
}

.compile-container {
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

button {
  border: none;
  background-color: #444;
  color: white;
  padding: 1.5em;
  cursor: pointer;
  min-width: 150px;
}

textarea {
  padding: 1em;
  background-color: #444;
  color: #fff;
  font-family: monospace;
}

a {
  color: #444;
}


@keyframes fun {
  0% {
    background-color: lightcoral;
  }
  25% {
    background-color: lightblue;
  }
  50% {
    background-color: #4fa764;
  }
  75% {
    background-color: lightseagreen;
  }
  100% {
    background-color: lightyellow;
  }
}